{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row text-center">
    <h1>Map Samples!</h1>
  </div>
  <div class="row">
    <form class="form-horizontal" role="form" method="post" action="/">
      <div class="form-group">
        <label for="artist-name" class="col-md-2 col-md-offset-1 control-label">Artist Name:</label>
        <div class="col-md-6">
          <input name="artist-name" type="text" class="form-control" id="artist-name" placeholder="Enter Artist Name" value = "">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md2 col-md-offset-2 control-label">Songs Who Sample this Artist, or Songs this Artist Samples?</label>
        <div class="radio col-md-offset-2">
          <label>
            <input id="option" name="option" value="whosamples" type="radio" checked="checked">Songs Who Sample This Artist</label>
        <div class="radio">
          <label>
            <input id="option" name="option" value="samples" type="radio">Songs Artist Samples</label>

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-5">
          <input id="submit" name="submit" type="Submit" value="Send" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
