{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
<div class="container">
  <h1> Stats from the database! </h1>
  <p> Song that has the highest danceability of songs that sample it: "{{most_dance_s}}" by {{most_dance_a}} with a danceability of: {{most_dance_d}} </p>
  <p> Genre with the most samples: {{g_most_samples[0]}} with {{g_most_samples[1]}} samples </p>
  <p> Genre sampled the most: {{g_most_sampled[0]}} sampled {{g_most_sampled[1]}} times </p>
  <p> Artist with the most samples: {{a_most_samples[0]}}, with {{a_most_samples[1]}} samples </p>
  <p> Artist sampled the most: {{a_most_sampled[0]}}, sampled {{a_most_sampled[1]}} times</p>
  <p> Song with the most samples: "{{s_most_samples[0]}}" by {{s_most_samples[1]}}</p>
  <p> Song sampled the most: "{{s_most_sampled[0]}}" by {{s_most_sampled[1]}}</p>
</div>
{% endblock %}
